<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input formControlName="login" type="text" matInput placeholder="Login" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      formControlName="password"
      type="password"
      matInput
      placeholder="Password"
    />
  </mat-form-field>

  <button
    [disabled]="loginForm.invalid"
    mat-raised-button
    color="accent"
    type="submit"
    mat-button
  >
    Log in
  </button>
</form>
